<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-success border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand text-light" [routerLink]="['/']"><span class="k-icon k-i-toc-section-level btn-lg"></span>TestAtlant</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-light" [routerLink]="['/']">Главная</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/details']">
              Детали
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link text-light dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Справочники
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="['/catalog-storekeeper']">Кладовщики</a></li>
              <li><a class="dropdown-item" [routerLink]="['/users']" *ngIf="isAdmin">Пользователи</a></li>
            </ul>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" role="button" (click)="logout()">
              Выход
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
